<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>
<body>
  
     <h1>to reset your password click this link</h1>
    <br>
    <a href="http://localhost:3000/api/user/reset/<%- findUser %>" target="_blank">
    <div style="height: 50px; width:100px; background:green; cursor:pointer">
        click me
    </div>
    </a>
</body>
</html>